FIREBASE_PROJECT_ID=loto-19em
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
NOTIFIED_APPOINTMENTS_FILE=./.data/notified-appointments.json
BUSINESS_TIME_ZONE=America/Mexico_City
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=loto-19em
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
